{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}


  {% for project in projects.detailed %}
  <div class="item">

    <div>
      <span class="project-title ">
        {{ project.role }} - {{ project.sector }}<br>
        {{ project.period }}
      </span>
    </div>

    <span class="project-tagline">Scope of the project</span>
    <ul>
      {% for scope in project.scope %}
        <li>{{ scope }}</li>
      {% endfor %}
    </ul>
  
    <span class="project-tagline">Achievements </span>
    <ul>
      {% for achievement in project.achievements %}
        <li>{{ achievement }}</li>
      {% endfor %}
    </ul>

  </div><!--//item-->
  <div class="item-separator">
    <hr />
  </div>
{% endfor %}

</section><!--//section-->
{% endif %}
