---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  {% include navbar.html %}  
  <div class="wrapper">
    {% include sidebar_blog.html %}

    <div class="main-wrapper">
      <div>
        <h3>{{ page.title }}</h3>
        Published on: {{ page.date | date_to_long_string }}
      </div>
      <div class="item-separator">
        <hr />
      </div>
      {{ content }}
      
      {% include share.html %}
      <hr />
      {% include disqus.html %}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

